* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  body{
     height: 100%;
     width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("project3background.png");
     background-size: 100% 100%;
      background-repeat: no-repeat;
      
      background-attachment: fixed;
  }
  header{
      display: flex;
  }
  header .mylogo{
      padding: 30px;
      cursor: pointer;
  }
  header .navtextlist{
      display: flex;
      margin-left: 300px;
      padding-top: 25px;
  }
  .navlist{
      list-style: none;
      font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    color: #ffc233;
      padding: 25px;
  }
  .order,.menu{
    background-color: #ff505f;
    border: none;
    font-size: 24px;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
  }
  .order:hover{
    background-color: blue;
    color: aliceblue;
  }
  .menu:hover{
    background-color: blue;
    color: aliceblue;
  }
  .obtn{
    margin: 30px;
    margin-top: 40px;
    margin-left: 200px;
  }
  
  main h1{
      font-size: 104px;
      color: #ffc233;
      line-height: 114px;
  }
  .scroll{
    margin-left: 90%;
    height: 125px;
    width: 125px;
    cursor: pointer;

  }
  